@import './default.scss';

.last {
    .container {
        position: relative;
        text-align: center;
        font-family: 'Song Myung', serif;
        font-size: 3.5rem;
        color: $white-color;       
    }
}