@import './default.scss';

.main1 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 5em;

        .video {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .article_txt{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $white-color;
            font-size: 20px;

            p {
                margin-bottom: 1em;
            }

            .txt_up p {
                font-size: 4rem;
                margin-top: 50%;
                margin-bottom: 50%;
            }
        }

}