$head-color: #0E252D;
$white-color: rgb(242, 241, 241);
$blue-color: #778E88;
$bg-color: #01050E;
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    scroll-behavior: smooth;
    background-color: $bg-color;
}

.global-width {
    max-width: 55%;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 10%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@mixin animation_in {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

@keyframes up-down{
    from{
        transform: translatey(0px);
    }
    to{
        transform: translatey(-20px);
    }
}