$head-color: #0E252D;
$white-color: rgb(242, 241, 241);
$blue-color: #778E88;
$bg-color: #01050E;

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    scroll-behavior: smooth;
    background-color: $bg-color;
}

.global-width {
    max-width: 55%;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10%;
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@mixin animation_out {
    animation: fadeout 5s linear;
    -moz-animation: fadeout 5s linear; /* Firefox */
    -webkit-animation: fadeout 5s linear; /* Safari and Chrome */
    -o-animation: fadeout 5s linear; /* Opera */
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@-moz-keyframes fade { /* Firefox */
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@-webkit-keyframes fade { /* Safari and Chrome */
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@-o-keyframes fade { /* Opera */
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@mixin animation_fade {
    animation: fade 5s linear;
    -moz-animation: fade 5s linear; /* Firefox */
    -webkit-animation: fade 5s linear; /* Safari and Chrome */
    -o-animation: fade 5s linear; /* Opera */
}


@keyframes up-down{
    from{
        transform: translatey(0px);
    }
    to{
        transform: translatey(-20px);
    }
}