@import './default.scss';

:root {
    // --bg-color: hsl(59, 50%, 53%);
    --bg-main-color: hsl(0, 0%, 92%);
    --bg-color-highlight: #ACC1D3;;
    --color-text: hsl(192, 14%, 20%);
    --color-text-highlight: $white-color;
    // --page-width: 90ch;
    --block-font-size: min(max(1.2rem, 4vw), 1.4rem);
    // --h1-font-size: min(max(2rem, 8vw), 4rem);
    // --h2-font-size: min(max(2rem, 8vw), 1.5rem);
    // --padding: 8vmin;
    --duration: 5s;
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
}


.main2_1, .main2_2, .main2_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20%;

    .main2_img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .main2_tit {
        font-family: 'Song Myung', serif;
        position: relative;
        font-weight: 300;
        font-size: 4.5em;
        transform: translatey(10px);
        transition: all 1s;
        // color: $blue-color;

        .tit1 {
            color: #ACC1D3;
            border-bottom: 3px solid #ACC1D3;
        }

        .tit2 {
            color: #E6712E;
            border-bottom: 3px solid #E6712E;
        }

        .tit3 {
            color: #9BAA57;
            border-bottom: 3px solid #9BAA57;
        }
    }

    .article_txt{
        color: $white-color;
        font-size: 20px;
        // position: absolute;

        p {
            margin-bottom: 1em;
        }
    }

    //밑줄치기
    .text-highlight {
        background-repeat: no-repeat;
        background-size: 0% 100%;
        -webkit-transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
        transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
    }
    
    .active {
        // padding: 0 5px;
        color: var(--color-text-highlight);
        background-size: 100% 100%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color-highlight)), to(var(--bg-color-highlight)));
        background-image: linear-gradient(var(--bg-color-highlight), var(--bg-color-highlight));
    }
}
