@import './default.scss';

.main4 {
    .container {
        position: relative;
        text-align: center;
        font-family: 'Song Myung', serif;
        font-size: 3.5rem;
        color: $white-color;
        // margin-top: 20%;
        // margin-bottom: 50%;
        // transform: translatey(10px);
        // transition: all 1s;

        #type {
            // padding-top:100px;    
            height: 100px;
            background: none repeat scroll 0 0 rgb(174, 174, 218);
            border: 5px solid black;
        }
    }
}