@import './default.scss';

.main1 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 5em;

        .video {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .article_txt{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $white-color;
            font-size: 20px;

            p {
                margin-bottom: 1em;
            }

            .txt_up {
                opacity: 0;
                font-size: 3.5rem;
                margin-top: 30%;
                margin-bottom: 80%;
                transform: translatey(100px);
                transition: all 2s;
                
                // position: absolute;
            }

        }
}