@import './default.scss';

.main2_1, .main2_2, .main2_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20%;

    .main2_img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .main2_tit {
        font-family: 'Song Myung', serif;
        position: relative;
        font-weight: 300;
        font-size: 4.5em;
        transform: translatey(10px);
        transition: all 1s;
        // color: $blue-color;

        .tit1 {
            color: #ACC1D3;
            border-bottom: 3px solid #ACC1D3;
        }

        .tit2 {
            color: #E6712E;
            border-bottom: 3px solid #E6712E;
        }

        .tit3 {
            color: #9BAA57;
            border-bottom: 3px solid #9BAA57;
        }
    }

    .article_txt{
        color: $white-color;
        font-size: 20px;
        // position: absolute;

        p {
            margin-bottom: 1em;
        }
    }

    //밑줄치기
    [class*=txt-highlight] {
        display: inline-block;
        line-height: inherit;
        font-weight: inherit;
        vertical-align: top;
        position: relative;
        z-index: 0;
        padding: 0 10px;
        overflow: hidden;
    }
    [class*=txt-highlight]::after {
        content: '';
        display: block;
        width: 0;
        height: 20px;
        z-index: -1;
        border-bottom: 20px solid #fce62c;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .move [class*=txt-highlight]::after {
        animation: highlight 500ms linear;
        animation-fill-mode: both;
        animation-delay: 500ms;
    }
    @keyframes highlight {
        0% { width: 0; }
        100% { width: 100%; }
    }
}
