@import './default.scss';

.main1 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 5em;

    .video {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .article_txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $white-color;
        font-size: 1.3em;

        p {
            margin-bottom: 1em;
        }
    }

    .article_txt_up{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $white-color;
        font-size: 1.5em;
        position: sticky;
        top: 0;
        height: 100vh;
        margin-top: 40%;
        margin-bottom: 40%;
        

        #txt_up {
            opacity: 0;
            font-size: 3.5rem;
            margin-top: 10%;
            transform: translate(0, 100px);
            transition: all 1s ;
        }
    }    
    
    
}