@import './default.scss';

.main3 {

    .scroll-graphic {
        position: sticky;
        top: 10%;
        height: 100vh;

        .graphic-item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 1s;
        }

        .visible {
            opacity: 1;
        }
        
        .scene-img{
            opacity: 0.7;
            width: 100%;
            max-height: 100vh;
        }
    }

    .scroll-txt{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        color: $white-color;
        position: relative;
        padding-bottom: 1px;

        .step {
            text-align: center;
            background-color: $bg-color;
            padding: 2.5rem 1rem;
            margin-bottom: 80vh;
        }
    }
}
