@import './default.scss';

:root {
    // --bg-color: hsl(59, 50%, 53%);
    --bg-main-color: hsl(0, 0%, 92%);
    --bg-color-highlight-1: #5E7B8F;
    --bg-color-highlight-2: #A6471D;
    --bg-color-highlight-3: #58692C;
    --color-text: hsl(192, 14%, 20%);
    --color-text-highlight: $white-color;
    --block-font-size: min(max(1.2rem, 4vw), 1.4rem);
    --duration: 1s;
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
}


.main2_1, .main2_2, .main2_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50%;

    .main2_img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .main2_tit {
        font-family: 'Song Myung', serif;
        position: relative;
        font-weight: 300;
        font-size: 4.5em;
        transform: translatey(10px);
        transition: all 1s;
        // color: $blue-color;

        .tit1 {
            color: #ACC1D3;
            border-bottom: 3px solid #ACC1D3;
        }

        .tit2 {
            color: #E6712E;
            border-bottom: 3px solid #E6712E;
        }

        .tit3 {
            color: #9BAA57;
            border-bottom: 3px solid #9BAA57;
        }
    }

    .article_txt{
        color: $white-color;
        font-size: 20px;
        // position: absolute;

        p {
            margin-bottom: 1em;
        }
    }

    //밑줄치기
    // .text-highlight {
    //     display: inline;
    //     position: relative;
    //     background-repeat: no-repeat;
    //     background-size: 0% 100%;
    //     background-image: linear-gradient(to right, #E6712E, #E6712E);
    //     transition: background-size 0.5s ease;
    //     padding: 3px;
    //     line-height: 1.5;
    // }

    .text-highlight {
        background-repeat: no-repeat;
        background-size: 0% 100%;
        -webkit-transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
        transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
    }
    
    .active1 {
        color: var(--color-text-highlight);
        background-size: 100% 100%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color-highlight-1)), to(var(--bg-color-highlight-1)));
        background-image: linear-gradient(var(--bg-color-highlight-1), var(--bg-color-highlight-1));
    }

    .active2 {
        color: var(--color-text-highlight);
        background-size: 100% 100%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color-highlight-2)), to(var(--bg-color-highlight-2)));
        background-image: linear-gradient(var(--bg-color-highlight-2), var(--bg-color-highlight-2));
    }

    .active3{
        color: var(--color-text-highlight);
        background-size: 100% 100%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color-highlight-3)), to(var(--bg-color-highlight-3)));
        background-image: linear-gradient(var(--bg-color-highlight-3), var(--bg-color-highlight-3));
    }
}
