* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #01050E;
}

.global-width {
  max-width: 55%;
  margin: 0 auto;
  padding: 3rem;
  margin-top: 10%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fade { /* Safari and Chrome */
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes up-down {
  from {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
}
@keyframes up-down {
  from {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
}
.intro {
  font-family: "Song Myung", serif;
}
.intro .intro_bg .intro_first_bg {
  width: 100%;
  height: auto;
}
.intro .intro_text {
  position: absolute;
  max-width: 600px;
  margin: 0 auto;
  top: 37%;
  left: 15%;
  text-align: center;
  color: rgb(242, 241, 241);
}
.intro .intro_text .intro_tit {
  animation: fade 5s linear;
  -moz-animation: fade 5s linear; /* Firefox */
  -webkit-animation: fade 5s linear; /* Safari and Chrome */
  -o-animation: fade 5s linear; /* Opera */
  opacity: 0;
}
.intro .intro_text .intro_tit h1 {
  font-size: 6em;
  font-weight: 500;
}
.intro .intro_text .intro_sub {
  animation: fade 5s linear;
  -moz-animation: fade 5s linear; /* Firefox */
  -webkit-animation: fade 5s linear; /* Safari and Chrome */
  -o-animation: fade 5s linear; /* Opera */
  opacity: 0;
}
.intro .intro_text .intro_sub p {
  font-size: 2em;
  font-weight: 500;
  margin-top: 5%;
}
.intro .icon_scroll {
  position: absolute;
  left: 50%;
  bottom: 5%;
  display: block;
  width: 18px;
  height: 56px;
  -webkit-animation: up-down 0.5s infinite ease-in-out alternate;
          animation: up-down 0.5s infinite ease-in-out alternate;
}