* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #01050E;
}

.global-width {
  max-width: 55%;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 10%;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fade { /* Safari and Chrome */
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes up-down {
  from {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
}
@keyframes up-down {
  from {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
}
.main1 {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 5em;
}
.main1 .video {
  margin-top: 5%;
  margin-bottom: 5%;
}
.main1 .article_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(242, 241, 241);
  font-size: 20px;
}
.main1 .article_txt p {
  margin-bottom: 1em;
}
.main1 .article_txt .txt_up {
  opacity: 0;
  font-size: 3.5rem;
  margin-top: 80%;
  margin-bottom: 80%;
  -webkit-transform: translatey(100px);
          transform: translatey(100px);
  -webkit-transition: all 2s;
  transition: all 2s;
}