* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #01050E;
}

.global-width {
  max-width: 55%;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 10%;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fade { /* Safari and Chrome */
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}
@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}
.main1 {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 5em;
}
.main1 .video {
  margin-top: 5%;
  margin-bottom: 5%;
}
.main1 .article_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(242, 241, 241);
  font-size: 1.3em;
}
.main1 .article_txt p {
  margin-bottom: 1em;
}
.main1 .article_txt_up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(242, 241, 241);
  font-size: 1.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  margin-top: 40%;
  margin-bottom: 40%;
}
.main1 .article_txt_up #txt_up {
  opacity: 0;
  font-size: 3.5rem;
  margin-top: 10%;
  transform: translate(0, 100px);
  transition: all 1s;
}